<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TED Talk - Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>TED TALK RECOMMENDATION SYSTEM</h2>
        </div>
        <div class="input-section">
            <form action="{{ url_for('predict')}}" method="POST">
                <h3>Enter TED Talk Name: </h3>
                <input type="text" class="input-box" name="ted-talk" placeholder="Enter TED Talk Name" required><br>
                <button class="submit-button" type="submit">Get Recommendations</button>
            </form>
        </div>
        <div class="output-section">
            <h3>Recommended Talks:</h3>
            <ul class="output-text">
                {{ prediction_text|safe }}
            </ul>
        </div>
    </div>
</body>

</html>
